.followers_view {
  .wrapper {
    padding-right: 1rem;
    padding-left: 1rem;

    .card {
      border-radius: 3px;
      background-color: var(--lightGrayishBlueCardBG);
      margin-top: 2rem;
      margin-bottom: 1rem;
      .card_header {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        .img_social_network {
          margin-top: 0.2rem;
          margin-right: 0.2rem;
          margin-bottom: 0rem;
          margin-left: 0.2rem;
        }
        .copy_username {
          color: var(--darkGrayishBlueText);
          font-size: 12px;
          font-weight: 700;
          margin-top: 0.5rem;
          margin-right: 0.2rem;
          margin-bottom: 0rem;
          margin-left: 0.2rem;
        }
      }
      .card_body {
        text-align: center;
        .copy_count_followers {
          font-size: 60px;
          font-weight: 700;
          margin-top: 1rem;
          margin-bottom: 0;
        }
        .copy_description {
          color: var(--darkGrayishBlueText);
          font-size: 16px;
          font-weight: 400;
          margin-top: 0;
          text-transform: uppercase;
        }
        .stadistic_crecein {
          display: flex;
          justify-content: center;
          .increase {
            margin-top: 0.4rem;
            margin-right: 0.2rem;
            margin-bottom: 0;
            margin-left: 0.2rem;
            height: 5px;
          }
          .copy_stadistic {
            color: var(--limeGreen);
            font-size: 14px;
            font-weight: 700;
            margin-top: 0;
            margin-right: 0.2rem;
            margin-bottom: 0;
            margin-left: 0.2rem;
          }
        }
      }
      
      &:before {
        content: "";
        height: 4px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
      }

      .instagram::before {
        background-image: linear-gradient(to right, var(--instagram-1) 0%, var(--instagram-2) 100%);
      }
    }

    

    
  }
}
