.header {
  background: var(--lightGray);
  .wrapper {
    padding-top: 0;
    padding-right: 1rem;
    padding-bottom: 0;
    padding-left: 1rem;
    .title_h1 {
      font-size: 21px;
      font-weight: 700;
      text-align: left;
      line-height: 1.6;
      margin-top: 1rem;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
    }
    .copy_header {
      color: var(--gray);
      font-size: 12.5px;
      font-weight: bold;
      text-align: left;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 1rem;
      margin-left: 0;
    }
    .change_mode {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      .copy_mode {
        color: var(--gray);
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 1rem;
        margin-left: 0;
      }
      // ----- ----- ----- ----- ----- Switch ----- ----- ----- ----- -----
      .switch {
        width: 45px;
        height: 23px;
        background: var(--switch);
        border-radius: 1000px;
        border: none;
        position: relative;
        cursor: pointer;
        display: flex;
        outline: none;
        &::after {
          content: "";
          display: block;
          width: 17px;
          height: 17px;
          margin-top: 1.5px;
          margin-right: 1.5px;
          margin-bottom: 1.5px;
          margin-left: 1.5px;
          position: absolute;
          background: var(--switchSpinner);
          top: 0;
          left: unset;
          right: 0;
          border-radius: 100px;
          transition: 0.3s ease all;
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
        }
        &.active {
          background: orange;
          color: #000;
          &::after {
            right: 0;
            left: unset;
          }
        }
        span {
          width: 17px;
          height: 17px;
          line-height: 17px;
          display: block;
          background: none;
          color: #fff;
        }
      }
    }
  }
}
