.top-cards {
  position: relative;
  top: -80px;
  margin-top: 40px;
  margin-bottom: 3em;
  padding-right: 1rem;
  padding-left: 1rem;
  .card {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background: var(--cardGray);
    text-align: center;
    padding: 1.7em 0;
    position: relative;
    margin-bottom: 1rem;

    body.dark & {
      background: var(--cardGrayDark);
    }
  }
  .card:before {
    content: "";
    height: 4px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  .card.facebook::before {
    background: var(--facebook);
  }
  .card.twitter::before {
    background: var(--twitter);
  }
  .card.instagram::before {
    background-image: linear-gradient(
      to right,
      var(--instagram-1) 0%,
      var(--instagram-2) 100%
    );
  }
  .card.youtube::before {
    background: var(--youTube);
  }
  .card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cardTitle);
    font-size: 0.9em;
    font-weight: bold;
  }
  .card-title img {
    margin-right: 5px;
  }
  .card-followers-number {
    font-size: 50px;
    font-weight: 700;
  }
  .card-followers-title {
    display: block;
    text-transform: uppercase;
    color: var(--cardTitle);
    letter-spacing: 5px;
    font-size: 0.75em;
  }
  .card-today {
    margin-top: 20px;
    color: var(--lime-green);
    font-size: 0.7em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    .copy_down {
      color: var(--bright-red);
    }
  }
  .card-today img {
    margin-right: 5px;
  }
}
@media screen and (min-width: 768px) {
  .top-cards {
    padding-right: 2rem;
    padding-left: 2rem;
    top: -135px;
    .wrapper {
      .grid {
        display: flex;
        justify-content: space-between;
        .card {
          margin-right: 5px;
          margin-left: 5px;
          padding-right: 1rem;
          padding-left: 1rem;
          .card-title {
            font-size: 10px;
          }
          .card-followers {
            .card-followers-number {
              font-size: 40px;
            }
            .card-followers-title {
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .top-cards {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}