:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: #168ef4;
  --twitter: hsl(203, 89%, 53%);
  --instagram-1: hsl(37, 97%, 70%);
  --instagram-2: hsl(329, 70%, 58%);
  --youTube: hsl(348, 97%, 39%);
  --gray: #5f616d;
  --cardGray: #f0f3fa;
  --lightGray: #f8f9fe;
  --cardTitle: #6f717e;
  --baseBackground: white;
  --baseColor: #1d2029;
  --switchSpinner: white;
  --switch: #5f616d;
}

body {
  color: var(--baseColor);
  background-color: var(--baseBackground);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

.header {
  background: var(--lightGray);
}
.header .wrapper {
  padding-top: 0;
  padding-right: 1rem;
  padding-bottom: 0;
  padding-left: 1rem;
}
.header .wrapper .title_h1 {
  font-size: 21px;
  font-weight: 700;
  text-align: left;
  line-height: 1.6;
  margin-top: 1rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.header .wrapper .copy_header {
  color: var(--gray);
  font-size: 12.5px;
  font-weight: bold;
  text-align: left;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-left: 0;
}
.header .wrapper .change_mode {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.header .wrapper .change_mode .copy_mode {
  color: var(--gray);
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-left: 0;
}
.header .wrapper .change_mode .switch {
  width: 45px;
  height: 23px;
  background: var(--switch);
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.header .wrapper .change_mode .switch::after {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  margin-top: 1.5px;
  margin-right: 1.5px;
  margin-bottom: 1.5px;
  margin-left: 1.5px;
  position: absolute;
  background: var(--switchSpinner);
  top: 0;
  left: unset;
  right: 0;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.header .wrapper .change_mode .switch.active {
  background: orange;
  color: #000;
}
.header .wrapper .change_mode .switch.active::after {
  right: 0;
  left: unset;
}
.header .wrapper .change_mode .switch span {
  width: 17px;
  height: 17px;
  line-height: 17px;
  display: block;
  background: none;
  color: #fff;
}

.top-cards {
  margin-top: 40px;
  margin-bottom: 3em;
  padding-right: 1rem;
  padding-left: 1rem;
}
.top-cards .card {
  border-radius: 8px;
  overflow: hidden;
  background: var(--cardGray);
  text-align: center;
  padding: 1.7em 0;
  position: relative;
}
.top-cards .card:before {
  content: "";
  height: 4px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.top-cards .card.facebook::before {
  background: var(--facebook);
}
.top-cards .card.twitter::before {
  background: var(--twitter);
}
.top-cards .card.instagram::before {
  background-image: linear-gradient(to right, var(--instagram-1) 0%, var(--instagram-2) 100%);
}
.top-cards .card.youtube::before {
  background: var(--youTube);
}
.top-cards .card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cardTitle);
  font-size: 0.9em;
  font-weight: bold;
}
.top-cards .card-title img {
  margin-right: 5px;
}
.top-cards .card-followers-number {
  font-size: 50px;
  font-weight: 700;
}
.top-cards .card-followers-title {
  display: block;
  text-transform: uppercase;
  color: var(--cardTitle);
  letter-spacing: 5px;
  font-size: 0.75em;
}
.top-cards .card-today {
  margin-top: 20px;
  color: var(--lime-green);
  font-size: 0.7em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-cards .card-today img {
  margin-right: 5px;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
